body{
    background-color: whitesmoke;
 }

:root {
  --accent-color: #E8336D;
}

 svg {
    background-color: white;
    font-family: 'Lato';
 }

 path.line {
    fill: none;
    stroke: rgba(140, 134, 134, 0.877);
    stroke-width: 1px;
  }

.annotation path {
  stroke: var(--accent-color);
  fill: none;
}

.annotation path.connector-arrow, 
.title text, .annotation text,
.annotation.callout.circle .annotation-subject path{
  fill: var(--accent-color);
}
.annotation-note-bg {
  fill: rgba(255, 255, 255, 0);
}

.annotation-note-title {
  font-weight: bold;
}

.annotation.xythreshold {
  cursor: move;
}

.hidden {
  display: none;
}

text.hover {
  font-size: 1em;
}

text.title {
  font-size: 1.3em;
}

rect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
  }

  .tooltip {
  position: absolute;
  padding: 5px;
  background-color: steelblue;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: none;
  opacity: .75;
}